$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-search: "\e900";
$icon-profile: "\e901";
$icon-card: "\e901";
$icon-id: "\e901";
$icon-vcard: "\e901";
$icon-commenting-o: "\e902";
$icon-group: "\e903";
$icon-users: "\e903";

