.formControl.error input,
.formControl.error textarea {
    border: solid 2px red!important;
}

.formControl {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: none;
    background-color: #ccc;
}

.errorMessage {
    //bottom: 20px;
    //left: 70px;
    position: absolute;
    color: red;
}

.formSummaryError {
    border: 1px solid red;
    padding: 5px;
    color: #0ae60a;
}