.formControl.error input,
.formControl.error textarea {
    border: solid 2px red!important;
}

.formControl {
    padding: 9px;
    margin-right: 10px;
    border-radius: 3px;
    border: 1px solid #32c9d8bf;
    background-color: #d8d7d759;
    color: #fff;
    margin-bottom: 20px;
    &::placeholder {
        color: #fff;
    }
}

.errorMessage {
    position: absolute;
    color: red;
}

.formSummaryError {
    border: 1px solid red;
    padding: 5px;
    color: #0ae60a;
}