.header {
  color: #fff;
  padding: 10px 20px;
  background-color: #101134;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .loginContainer {
    display: flex;
    align-items: center;
  }
  .login {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 3px;
    background: rgb(3, 85, 252);
    transition: 0.2s;
    &:hover {
      background: #1185e8b8;
      cursor: pointer;
    }
    &:active {
      background: #1185e8b8;
    }
  }
  .avatar_container {
    display: flex;
    align-items: center;
    margin-right: 50px;
  }
  &__avatar {
    width: 50px;
    height: 50px;
    margin: 3px;
    border-radius: 50%;
    border: 3px solid #fcfbff;
  }
  .logo {
    padding: 10px;
    width: 80px;
    height: 50px;
  }
}