.nav {
  display: flex;
  justify-content: center;
  width: 50px;
  background-color: #07006b;
  margin-right: 20px;
  padding: 100px 0 0 0;
  &__list {
    display: flex;
    flex-direction: column;
    padding: 0;
    .active {
      color: #109ff5;
    }
  }
  &__item {
    font-size: 30px;
    text-decoration: none;
    //color: aqua;
    color: #fff;
    list-style: none;
    transition: 0.3s ease-in;
    margin-bottom: 30px;
    &:hover {
      color: #109ff5;
      cursor: pointer;
    }
  }
}




//.open__menu {
//  z-index: 1;
//  font-size: 30px;
//  width: 20px;
//  height: 100%;
//  align-self: flex-end;
//  background-color: #1206b9;
//  transition: all 0.3s ease-in-out;
//  &:hover {
//    cursor: pointer;
//    color: #7a7979;
//  }
//}
//
//.link__item {
//  display: flex;
//  align-items: center;
//  margin-bottom: 30px;
//  width: 40px;
//}
//.icon {
//  margin-left: 10px;
//  width: 30px;
//  height: 30px;
//  &:hover {
//    cursor: pointer;
//  }
//}


